In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [8]:
cd Documents

C:\Users\LENOVO1\Documents

In [9]:
cd sem5

C:\Users\LENOVO1\Documents\sem5

In [15]:
cd MP-2

[WinError 2] The system cannot find the file specified: 'MP-2'
C:\Users\LENOVO1\Documents\sem5\MP-2

In [25]:
ls

 Volume in drive C is Windows8_OS
 Volume Serial Number is 2E84-DB48

 Directory of C:\Users\LENOVO1\Documents\sem5\MP-2

23-10-2019  00:12    <DIR>          .
23-10-2019  00:12    <DIR>          ..
23-10-2019  00:12           210,148 book_rating.csv
22-10-2019  21:16            63,871 book_rating.xlsx
30-08-2019  18:54        25,819,535 bookrecommendation.zip
06-09-2019  15:35       721,615,855 home-credit-default-risk.zip
22-10-2019  23:15           402,370 Institute of Technology.xlsx
23-10-2019  00:00           633,785 itnu.csv
30-08-2019  20:11            15,792 Keyword Tool Export - research.csv
22-10-2019  15:15       916,259,348 ratings_Books.csv
               8 File(s)  1,665,020,704 bytes
               2 Dir(s)  732,326,957,056 bytes free

In [86]:
with open("br.csv", encoding="utf8", errors='ignore') as f:
    data = pd.read_csv(f)

In [82]:
df = data
df = df.drop('i',axis=1)

In [83]:
book = df["name"].tolist()

In [85]:
df.head(130)

,account no,Edition,rating,name
0,T0039923,2nd ed,4,Research Methodology
1,T0039924,2nd ed,1,Research Methodology
2,T0039925,2nd ed,4,Research Methodology
3,T0039926,2nd ed,4,Research Methodology
4,T0039927,2nd ed,5,Research Methodology
5,T0039937,2nd ed,5,Research Methodology
6,T0039938,2nd ed,4,Research Methodology
7,T0039939,2nd ed,4,Research Methodology
8,T0039940,2nd ed,5,Research Methodology
9,T0039941,2nd ed,5,Research Methodology
10,T0039952,2nd ed,5,Research Methodology
11,T0039953,2nd ed,3,Research Methodology
12,T0039954,2nd ed,5,Research Methodology
13,T0039955,2nd ed,4,Research Methodology
14,T0039956,2nd ed,5,Research Methodology
15,T0039967,2nd ed,1,Research Methodology
16,T0039968,2nd ed,5,Research Methodology
17,T0039969,2nd ed,4,Research Methodology
18,T0039970,2nd ed,4,Research Methodology
19,T0039971,2nd ed,5,Research Methodology
20,T0039976,2nd ed,5,Research Methodology
21,T0039977,2nd ed,5,Research Methodology
22,T0039978,2nd ed,5,Research Methodology
23,T0039979,2nd ed,5,Research Methodology
24,T0039980,2nd ed,4,Research Methodology
25,T0040816,NaN,3,Research Methodology: Concept and Cases
26,T0045182,2nd ed,5,Research Methodology
27,T0045183,2nd ed,5,Research Methodology
28,T0045184,2nd ed,4,Research Methodology
29,T0045583,NaN,3,Research Methodology: Concept and Cases
...,...,...,...,...
100,T0011650,NaN,5,Into The Unknown
101,T08306,NaN,5,The Secret Power of Pyramids
102,T0019883,4th ed,5,Discrete Event System Simulation
103,T13907,3rd ed,5,Discrete Event System Simulation
104,T19884,3rd ed,5,Discrete Event System Simulation
105,T19885,3rd ed,4,Discrete Event System Simulation
106,T19886,3rd ed,3,Discrete Event System Simulation
107,T19887,3rd ed,2,Discrete Event System Simulation
108,T19888,3rd ed,5,Discrete Event System Simulation
109,T19889,3rd ed,5,Discrete Event System Simulation
110,T19890,3rd ed,5,Discrete Event System Simulation
111,T0008860,NaN,2,Operations Research for Engineers
112,T0008861,NaN,5,Operations Research for Engineers
113,T0008862,NaN,5,Operations Research for Engineers
114,T0027603,NaN,5,Operations Research Methods
115,T0032834,2nd ed,5,Introduction to Discrete Event Systems
116,T0041173,3rd ed,5,Modeling and Analysis of Dynamic Systems
117,T00913,NaN,5,Linear Systems
118,T05833,4th ed,5,"The Analysis, Design and Implmentation of Info..."
119,T01356,NaN,5,Systems: Modelling and Analysis
120,T06962,NaN,5,Systems: Modelling and Analysis
121,T0005832,2nd ed,5,Analysis and Design of Information Systems
122,T0030342,2nd ed,5,Analysis and Design of Information Systems
123,T0030343,2nd ed,5,Analysis and Design of Information Systems
124,T01036,NaN,4,Linear Systems Analysis
125,T0032798,4th ed,3,Operations Research: Applications and Algorithms
126,T0032799,4th ed,5,Operations Research: Applications and Algorithms
127,T13342,NaN,5,Systems Analysis and Modeling: A Macro to Micr...
128,T11688,NaN,5,Mathematical Methods of Operations Research
129,T0034146,NaN,5,Filtering and System Identification: A Least S...

In [113]:
var = "AI"

In [114]:
url = "https://www.thesaurus.com/browse/"+var+"?s=t"
html = urlopen(url)

In [115]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [116]:
syno=soup.find_all('a')
type(syno)

bs4.element.ResultSet

In [117]:
names=str(syno)

In [118]:
cleantext = BeautifulSoup(names, "lxml").get_text()

In [119]:
print(cleantext)

[Thesaurus.com, Word of the Day, Crossword Solver, Everything After Z, Dictionary.com, Dictionary.com, Thesaurus.com, , DEFINITIONS, as inartificial intelligence, as inartificial insemination, robotics, expert system, expert systems, intelligent retrieval, knowledge engineering, machine learning, natural language processing, neural network, artificial insemination, AI, intracervical insemination, intratubal insemination, intrauterine insemination, artificial intelligence, AI, expert system, expert systems, intelligent retrieval, knowledge engineering, machine learning, natural language processing, neural network, robotics, OTHERS ARE READING, Empathy vs. Sympathy: Which Word To Use And When, These Words Originated From Native American Languages, WORD OF THE DAYsolipsismnoun | [sol-ip-siz-uhm]SEE DEFINITION, “Compliment” vs. “Complement”: How To Pick The Right Word, Are There Any Words Without Rhymes?, #, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, Slang, Emoji, Acronyms, Pop Culture, More, About, Careers, Contact Us, Cookies, Terms, & Privacy]

In [120]:
type(cleantext)

str

In [121]:
newstr = cleantext.replace("[", "")
new = newstr.replace("]","")
new = new.replace("as","")

In [122]:
names = new.split(",")

In [123]:
print(names)

['Thesaurus.com', ' Word of the Day', ' Crossword Solver', ' Everything After Z', ' Dictionary.com', ' Dictionary.com', ' Thesaurus.com', ' ', ' DEFINITIONS', '  inartificial intelligence', '  inartificial insemination', ' robotics', ' expert system', ' expert systems', ' intelligent retrieval', ' knowledge engineering', ' machine learning', ' natural language processing', ' neural network', ' artificial insemination', ' AI', ' intracervical insemination', ' intratubal insemination', ' intrauterine insemination', ' artificial intelligence', ' AI', ' expert system', ' expert systems', ' intelligent retrieval', ' knowledge engineering', ' machine learning', ' natural language processing', ' neural network', ' robotics', ' OTHERS ARE READING', ' Empathy vs. Sympathy: Which Word To Use And When', ' These Words Originated From Native American Languages', ' WORD OF THE DAYsolipsismnoun | sol-ip-siz-uhmSEE DEFINITION', ' “Compliment” vs. “Complement”: How To Pick The Right Word', ' Are There Any Words Without Rhymes?', ' #', ' A', ' B', ' C', ' D', ' E', ' F', ' G', ' H', ' I', ' J', ' K', ' L', ' M', ' N', ' O', ' P', ' Q', ' R', ' S', ' T', ' U', ' V', ' W', ' X', ' Y', ' Z', ' Slang', ' Emoji', ' Acronyms', ' Pop Culture', ' More', ' About', ' Careers', ' Contact Us', ' Cookies', ' Terms', ' & Privacy']

In [124]:
names[0]

'Thesaurus.com'

In [125]:
names = names[11::]
l = len(names)
l = l-45
print(l)
names = names[0:l]

22

In [126]:
names

[' robotics',
 ' expert system',
 ' expert systems',
 ' intelligent retrieval',
 ' knowledge engineering',
 ' machine learning',
 ' natural language processing',
 ' neural network',
 ' artificial insemination',
 ' AI',
 ' intracervical insemination',
 ' intratubal insemination',
 ' intrauterine insemination',
 ' artificial intelligence',
 ' AI',
 ' expert system',
 ' expert systems',
 ' intelligent retrieval',
 ' knowledge engineering',
 ' machine learning',
 ' natural language processing',
 ' neural network']

In [127]:
df = pd.DataFrame(names)
df.head()
item=df.iloc[0:1,0:1]
print(item)

           0
0   robotics

In [128]:
nam = ['sherry','smith','vidita']
dfobj = pd.DataFrame(nam)
dfobj.columns=['name']
dfobj.head()

     name
0  sherry
1   smith
2  vidita

In [74]:
for i in range(25):
    num = str(i)
    colname = 'tag'+num
    dfobj[colname]=0

In [77]:
dfobj

,name,tag0,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,...,tag15,tag16,tag17,tag18,tag19,tag20,tag21,tag22,tag23,tag24
0,sherry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,smith,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vidita,robotics,expert system,expert systems,intelligent retrieval,knowledge engineering,machine learning,natural language processing,neural network,artificial insemination,...,expert system,expert systems,intelligent retrieval,knowledge engineering,machine learning,natural language processing,neural network,0,0,0

In [78]:
a=0
for c in range(1,25):
    d=c+1
    dfobj.iloc[1:2,c:d]=names[a]
    a=a+1

IndexError: list index out of range

In [248]:
dfobj.head()

,name,tag0,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,...,tag15,tag16,tag17,tag18,tag19,tag20,tag21,tag22,tag23,tag24
0,sherry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,smith,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vidita,inartificial insemination,robotics,expert system,expert systems,intelligent retrieval,knowledge engineering,machine learning,natural language processing,neural network,...,AI,expert system,expert systems,intelligent retrieval,knowledge engineering,machine learning,natural language processing,neural network,robotics,OTHERS ARE READING